<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
    <div class="wrapper">
      
      <div class="left">
        <%- partial('_partial/sidebar') %>
      </div>

      <div class="right">
        <%- partial('_partial/header') %>

        <div class="full-post">
          <%- partial('_partial/post-info') %>
          <%- partial('_partial/post-image') %>
          <%- partial('_partial/post-text') %>
          <%- partial('_partial/post-author') %>
          <%- partial('_partial/related-post') %>
        </div>

      </div>

    </div>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>

</body>
</html>