<div class="full-post">
	<%- partial('_partial/post-info') %>
	<%- partial('_partial/post-image') %>
	<%- partial('_partial/post-text') %>
	<%- partial('_partial/post-author') %>
	<%- partial('_partial/related-post') %>
</div>